{% extends 'data_db/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="overcell-2">
    <div class="cell cell-5">
        Logo
    </div>
    <div class="cell cell-6" style="text-size : 40px">
        {{ project }}
    </div>
    <div class="cell cell-7">
        <a href="{% url 'data_db:logout' %}"> 
            <button class="btn-lg btn-secondary" type="button">
                Logout
            </button>
        </a>
        <a href="{% url 'data_db:home' %}"> 
            <button class="btn-lg btn-secondary" type="button">
                Go back
            </button>
        </a>
    </div>
    <div class="cell cell-8"> 
        <div style="text-align:left">
            <table>
                {% for Sample in sample_list %}
                    <tr>
                        
                            <td style="width:100%">
                                <div class="created-at">
                                    
                                </div>
                                <div class="project-box" >
                                    
                                    {{ Sample.name }} 
                                    
                                </div>
                                <div class="shared-with">
                                    
                                </div>
                            </td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}