{% extends 'data_db/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="overcell-2">
    <div class="cell cell-5">
        Logo
    </div>
    <div class="cell cell-6">
        Header
    </div>
    <div class="cell cell-7">
        <a href="{{ '/logout' }}"> 
            <button class="btn-lg btn-secondary" type="button">
                Logout
            </button>
        </a>
    </div>
    <div class="cell cell-8"> 
        <div style="text-align:left">
            <table>
                {% for Project in project_list %}
                    <tr>
                        {#<a href="{% url 'data_db:detail' slug='Project.slug' %}">#}
                            <td style="width:100%">
                                <div class="created-at">
                                    Created at: <br>
                                    {{ Project.published_on }}
                                </div>
                                <div class="project-box" >
                                    {{ Project.name }} 
                                </div>
                                <div class="shared-with">
                                    Shared with: <br>
                                    {{ Project.slug }}
                                </div>
                            </td>
                        <!--</a>-->
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}