{% extends 'data_db/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="overcell-1 big-ft">
  <div class="cell cell-1">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
        {{message}}
      </div>
     {% endfor %}
  {% endif %}
  </div>
    <div class="cell cell-2">
        <div class="cell cell-3">
      
        
        <form method="post" class="form-w">
        <fieldset class="form-group"> 
        <legend class="border-bottom mb-4">Login</legend>
                {% csrf_token %}
                <label for="id_username" class="col-form-label  requiredField">
                Username</label>
                <input class="textinput textInput form-control is-invalid" type="text" name="username" placeholder="username" autofocus="" required="" id="id_username"></input> <br>
                <label for="id_password" class="col-form-label  requiredField">
                Password</label>
                <input class="textinput textInput form-control is-invalid" type="password" name="password" placeholder="password" required="" id="id_password"></input> <br> 
                <button type="submit" class="btn btn-outline-info "><i class="fa fa-check"></i> Login</button>
            </fieldset>
            </form>
            
        </div>
    </div>
  <div class="cell cell-4"><a href="{% url 'register' %}">Don't have an Account Register here</a></div>
</div>


        




{% endblock %}
